<div class="container pt-5">
  <h1>{{ title }} Client</h1>

  <div class="card mb-3 p-3">
    <input type="text" class="form-control mb-3" [(ngModel)]="todoTitle">
    <div class="btn-group w-25">
      <button class="btn btn-outline-primary" (click)="addTodo()">Add</button>
      <button class="btn btn-outline-primary" (click)="fetchTodos()">Upload</button>
    </div>
  </div>

  <div *ngIf="error; else todosBlock" class="alert alert-danger" role="alert">
    {{ error }}
  </div>

  <ng-template #todosBlock>
    <div *ngIf="!loading; else loadingBlock">
      <div *ngIf="todos.length; else noTodos">
        <div *ngFor="let todo of todos" class="card mb-2 p-2">
          <div class="d-flex justify-content-between align-items-center">
            <span [class.text-decoration-line-through]="todo.completed">{{ todo.title | titlecase }}</span>
            <div class="btn-group">
              <button class="btn btn-outline-danger" (click)="removeTodo(todo.id)">Delete</button>
              <button
                class="btn btn-outline-secondary"
                (click)="completeTodo(todo.id)"
                [disabled]="todo.completed"
              >
                Complete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #loadingBlock>
    <h3 class="text-center">Loading...</h3>
  </ng-template>

  <ng-template #noTodos>
    <h3 class="alert alert-primary text-center" role="alert">
      You don't have todos!
    </h3>
  </ng-template>
</div>
